<h1>My tasks</h1>

<% logo_coche = "<i class='fa fa-check-square-o'></i>".html_safe %>
<% logo_sans_coche = "<i class='fa fa-square-o' aria-hidden='true'></i>".html_safe %>
<% @tasks.each do |task|%>
  <div style="display: flex; align-items: center; padding: 10px; height: 0px;">
    <%= task.completed ? logo_coche : logo_sans_coche %>
    <p style="padding: 10px;"><%= link_to "#{task.title}", task_path(task) %></p>

  </div>

<% end %>

