<h1>My tasks</h1>

<% logo_coche = "<i class='fa fa-check-square-o'></i>".html_safe %>
<% logo_sans_coche = "<i class='fa fa-square-o' aria-hidden='true'></i>".html_safe %>
<% @tasks.each do |task|%>
  <div style="display: flex; align-items: center; padding: 10px; height: 20px;">
    <%= task.completed ? logo_coche : logo_sans_coche %>
    <p style="padding: 10px;"><%= link_to "#{task.title}", task_path(task) %></p>
    <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>

  </div>
<% end %>

<%= link_to new_task_path do %>
  <i class="fa fa-plus"></i> Add a new task
<% end %>

